
<%-include("partials/header")-%>
<div class="row">
    <div class="col-lg-8 cols col1">
<h1><%=postTitle%></h1>
<p><%= postContent %></p>
    </div>  
    <div class="col-lg-4 cols col2">
        <img src="<%=postImg %>">
        </div>
</div>

<%-include("partials/footer");-%>
<%-include("partials/mobileFooter");-%>